
#fetch-boards{
  cursor: pointer;
}

.board{
  padding: 5px;
}

#list-boards{
  list-style-type: none;
}

.board-name{
  cursor: pointer;
}

.delete-board{
  display: none;
  cursor: pointer;
  margin-left: 10%;
}

.color-board{
  background-color: green;
}

#states-scroller{
  width: 800px;
  height: 650px;
  overflow: auto;
  overflow-y: hidden;
}


#states-stories{
 width:20000px; 
 list-style: none;
}

.state-stories{
  float: left;
  width: 200px;
  height: 600px;
  margin-right: 10px;
  background-color: green;
  text-align: center;
}

.delete-state{
  cursor: pointer;
  margin-left: 10px;
}

.state{
  cursor: pointer;
}

.state form {
  display: inline;
}

#more-boards{
  cursor: pointer;
}
