
#fetch-boards{
  cursor: pointer;
}

#board-data{
  width: 80%;
}

.board{
  padding: 5px;
}

#list-boards{
  list-style-type: none;
}

.board-name{
  cursor: pointer;
}

.delete-board{
  display: none;
  cursor: pointer;
  margin-left: 10%;
}

.color-board{
  background-color: green;
}

.state-stories{
  float: left;
  width: 20%;
  height: 500px;
  margin-left: 2%;
  background-color: green;
  text-align: center;
}

#create-state{
  position: absolute;
  top: 700px;
}

.delete-state{
  cursor: pointer;
  margin-left: 10px;
}

.state{
  cursor: pointer;
}

.state form {
  display: inline;
}

#boards-page{
  cursor: pointer;
}
