
#fetch-boards{
  cursor: pointer;
}

#board-data{
  width: 80%;
}

.board{
  padding: 5px;
}

#list-boards{
  list-style-type: none;
}

.board-name{
  cursor: pointer;
}

.delete-board{
  display: none;
  cursor: pointer;
  margin-left: 10%;
}

.color-board{
  background-color: orange;
}

.state-stories{
  float: left;
  width: 15%;
  height: 500px;
  margin-left: 2%;
  background-color: orange;
  text-align: center;
}

#create-state{
  position: absolute;
  top: 700px;
}
